@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* .login-block{
    background: #DE6262;  
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(https://c.wallhere.com/photos/b0/f7/atoms_digital_art-247770.jpg!d)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.vh {
	height: 100vh;
} */

body {
    background: #00ca88; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
  }
  /** Form Style **/
  .form-style hr {
    border-color: #fdfdfd;
  }
  .container {
    position: relative;
    width: 450px;
    margin: 70px auto;
    animation: myanim 2.3s;
  }
  .form-style {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  }
  .form-style .header {
    color: #fff;
    text-align: center;
    /* margin-bottom: 25px; */
  }
  .form-style .header small {
    color: #b3b3b3;
  }
  .content {
    text-align: center;
    display: grid;
    margin-bottom: 50px;
  }
  .example-icon {
    font-size: 1.4rem;
    font-weight: 900;
    color: #00c3ff;
  }
  .footer {
    padding: 20px;
    text-align: center;
  }
  /** Button Style **/
  .bton {
    margin: 0 15px;
    cursor: pointer;
    padding: 10px 35px;
    background: #808080;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-weight: 900;
    color: #fff;
    transition: all 0.6s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  }
  .bton.login {
    background: #00ca88;
  }
  .bton.register {
    background: #3a3a3a;
  }
  .bton:hover {
    background: #00c3ff;
  }
  /** INPUT Style **/
  .inp {
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 280px;
  }
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #00ca88;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: #00ca88;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }
  @-moz-keyframes myanim {
    0% {
      opacity: 0;
      top: -35px;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  @-webkit-keyframes myanim {
    0% {
      opacity: 0;
      top: -35px;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  @-o-keyframes myanim {
    0% {
      opacity: 0;
      top: -35px;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  @keyframes myanim {
    0% {
      opacity: 0;
      top: -35px;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  