<!--The content below is only a placeholder and can be replaced.-->
<div class="section">
	<nav *ngIf="userInfo" class="navbar navbar-expand-lg navbar navbar-dark bg-dark w-100 d-inline-block">
		<a class="navbar-brand float-left" [routerLink]="['dashboard']">Smart Lighting System</a>
		<!-- <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->
		<!-- <div class="collapse navbar-collapse float-left " id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<a class="nav-link" [routerLink]="['dashboard']">Home <span class="sr-only">(current)</span></a>
			</ul>
		</div> -->
		<div class=" float-right " id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<a class="nav-link" (click)="logout()" style="cursor: pointer">Logout</a>
				
			</ul>
		</div>
			<!-- <span style="cursor: pointer;" (click)="logout()" class="navbar-text float-rigth ">
				Logout
			</span> -->
	</nav>
  
    <router-outlet></router-outlet>
  
</div>
